
@font-face {
    font-family: myriad;
    src: url(../fonts/Myriad/MyriadPro-Regular.otf);
    font-weight: 400;
  }
  @font-face {
    font-family: myriad;
    src: url(../fonts/Myriad/MyriadPro-Semibold.otf);
    font-weight: 500;
  }
  @font-face {
    font-family: myriad;
    src: url(../fonts/Myriad/MyriadPro-Bold.otf);
    font-weight: 600;
  }



body{
    font-family: myriad;
    margin-top: 80px;
}
a{
    text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input:focus, select:focus, textarea:focus, button:focus{
    outline: none;
    box-shadow: none;
}
.br10{border-radius: 10px;}
.br20{border-radius: 20px;}
.br30{border-radius: 30px;}
/* sup{top:-.4em} */
sup{top: 0em;font-size: 1.25em;}
.f-600{font-weight: 600;}







header{
    background: #F8F8F8;
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
.menu-link {
    color: #495057;
    display: inline-block;
    padding: 0.5rem 0;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: 700;
}
.menu-link.special {
    border: 1px solid #007BFF;
    background: linear-gradient(180deg, #2363AA 0%, #099FDC 100%);
    border: 1px solid #fff;
    color: #fff;
    padding: 0.75rem 2rem;
    font-size: .875rem;
    font-weight: 500;
    border-radius: 30px;
}
.menu-link:first-child{margin-left: 0;}

.main-banner{
    background-color: #F8F8F8;
    background-image: url(../images/banner_bg.svg);
    background-size: contain;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.sec-title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
}
.sec-title.md{
    font-size: 2rem;
}
.sec-title.bold{
    font-weight: 700;
}
.banner-slider img{
    height: 100%;
    object-fit: cover;
    object-position: left center;
}
.main-form .finput {
    width: 100%;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    background: #FFF;
    color: #000;
    height: 2.5rem;
    padding: 0 1rem;
}
.main-form .finput::placeholder {
    color: #000;
}

.main-form label {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: .5rem;
}

.main-form textarea.finput {
    height: 3.75rem;
}

.main-form .fsubmit {
    border: none;
    background: #00B9F2;
    color: #fff;
    width: 160px;
    height: 3rem;
    border-radius: 3rem;
    font-size: 1.125rem;
    font-weight: 600;
}
.common-btn{
    border-radius: 24px;
    /* background: linear-gradient(180deg, #2363AA 0%, #099FDC 100%); */
    /* background: linear-gradient(90deg, #5D1E79 0%, #770D62 60%, #8B0051 100%); */
    background-color: #5D1E79;
    /* border: 1px solid #fff; */
    border: none;
    color: #fff;
    padding: .75rem 2.5rem;
    display: inline-block;
}
.common-btn.grad2{
    background: linear-gradient(90deg, #8BC53F, #D7E599);
    color: #8B0051;
}
.common-btn.common-btn2{
    border-radius: 12px;
}
.common-btn.md{
    padding: 1rem 2rem;
    font-size: 1.25rem;
}
.common-btn.lg{
    padding: 1rem 2rem;
    font-size: 1.5rem;
}
.subtitle{
    font-size: 1.5rem;
    line-height: 1.3;
}
.desc{
    font-size: 1rem;
}
.desc.sm{font-size: 1.125rem;}
.desc.md{font-size: 1.25rem;}
.about{
    background-color: #F8F8F8;
    background-image: url(../images/about-bg.svg), url(../images/about-bg2.svg);
    background-position: 0 100%, 100% 100%;
    background-repeat: no-repeat;
}

.about-count{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.24);
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    transform: translate(-20%, 20%);
}
.primary-bg{
    background-color: #5D1E79 !important;
}
.primary-bg-dark{
    background-color: #3B134E !important;
}
.project-slider .slick-slide{
    padding: 0 1rem;
}
.project-slider .slick-slide img{
    border-bottom: 15px solid #00B9F2;
}
.project-slider .slick-slide:nth-child(2n) img{
    border-bottom: 15px solid #12203C;
}
.project-slider .slick-list{
    overflow: visible;
}
.project-slider .slick-arrow{
    z-index: 1;
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
}
.project-slider .slick-arrow::before{display: none;}
.project-slider .slick-prev{
    background-image: url(../images/prev.svg);
    left: -10px;
}
.project-slider .slick-next{
    background-image: url(../images/next.svg);
    right: -10px;
}
.value-box{
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid #5D1E79;
    /* background-image: url(../images/value-bg.png); */
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 80px;
    transition: .3s ease;
    /* background: linear-gradient(0deg, #ffffff00, #ffffff52) */
}
.value-box:hover{
    color: #fff;
    background-color: #5D1E79;
}
.ptabs a{
    display: inline-block;
    padding: 1rem 3rem;
    border: 1px solid #000;
    color: #000;
    transition: background-color .3s ease, color .3s ease, border-radius 0s ease;
    border-radius: 40px;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 .5rem 1.5rem;
}
.ptabs a.active{
    background-color: #5D1E79;
    border: 1px solid #fff;
    color: #fff;
}
.pcontent{
    display: none;
}
.case{
    background-color: #F8F8F8;
    background-image: url(../images/about-bg3.svg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.case-box{
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.07);
    background-image: url(../images/about-bg2.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 20%;
    border-radius: 10px;
}
.morelink{
    display: inline-block;
    color: #2C4F94;
    font-size: 1.25rem;
    font-weight: 600;
}
.awards{
    background-color: #2C4F94;
    background-image: url(../images/about-bg.svg), url(../images/banner_bg.svg);
    background-size: 20%, contain;
    background-position: 0 100%, 100% 50%;
    background-repeat: no-repeat;
}
.br20{border-radius: 20px;}
.award-slider .slick-dots{
    position: static;

}
.award-slider .slick-dots li{margin: 0;}
.award-slider .slick-dots li button:before{
    width: auto;
    height: auto;
    font-size: 1rem;
}
.brochures{
    background-image: url(../images/about-bg2.svg);
    background-position: 100% 100%;
    background-size: 15%;
    background-repeat: no-repeat;
}


footer{background-color: #2363AA;}




/*=================== CSS For Durashine ===================*/
/* .durashine .menu-link.special{
    background: linear-gradient(0deg, #E31E24 0%, #990005 100%);
    border-color: #E32025;
} */
.durashine .main-banner{
    background-image: url(../images/banner_bg_durashine.svg);
}
/* .durashine .common-btn{
    background: linear-gradient(0deg, #E31E24 0%, #990005 100%);
    border-color: #E32025;
} */
.durashine .about{
    background-image: url(../images/about-bg4.svg);
    background-position: 0 100%;
    background-size: 500px;
}
/* .durashine .ptabs a.active{
    background-color: #E31E24;
    border-color: #E31E24;
} */
/* .durashine .primary-bg{
    background-color: #921317;
} */
.durashine .brochures, .durashine .value{
    background-image: url(../images/bg-right.svg), url(../images/bg-left.svg);
    background-repeat: repeat-y;
    background-position: 0 0, 100% 0;
    background-size: auto;
}
.durashine .awards{
    background-color: #f8f8f8;
    background-image: url(../images/about-bg4.svg), url(../images/banner_bg_durashine.svg);
    background-position: 0 100%, 100% 50%;
    background-size: 50%, contain;
}
.durashine .awards.noleft{
    background-image: url(../images/banner_bg_durashine.svg);
    background-position: 100% 50%;
    background-size: contain;
}

.slick-dots li.slick-active button:before{
    color: #fff;
    opacity: 1;
}
.about-points{
    list-style: none;
}
.about-points li{
    transition: .3s ease;
}
.about-points li.active{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}


/*=============================Lysaght New*/

.main-banner-lys{
    /* background-image: url(../images/lysaght/banner2.jpg); */
    background-image: none;
    background-size: cover;
    background-position: center center;
}
.main-banner-lys > .brand{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 10%;
}
.main-banner-lys .btitle{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
}
.main-banner-lys .banner-point{
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 50%;
    border: 1px solid #fff;
    background: linear-gradient(180deg, #2363AA 0%, #099FDC 100%);
}
.main-form.lys-form{
    border-radius: 20.063px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(31.766403198242188px);
}
.counter-sec{
    background-image: url(../images/counter-bg.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
}
.counter-single{
    border-radius: 24px 24px 0px 24px;
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16); */
    background-image: linear-gradient(90deg, #5D1E79, #770D62, #8B0051);
    color: #fff;
    position: relative;
    overflow: hidden;
}
.counter-single::before{
    content: '';
    width: 100px;
    height: 80px;
    background-color: #D9D9D922;
    position: absolute;
    top: 0;
    right: -20px;
    border-radius: 30px;
}
.counter-single .number{
    font-size: 3rem;
    font-weight: 600;
    /* color: #8B0051; */
    margin-bottom: .25rem;
}
.counter-single .ndesc{
    /* color: #5D1E79; */
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
.ptabs.lys a {
    border-radius: 0;
    padding: 1rem 1.5rem;
    border: none;
    border-bottom: 1px solid #00000012;
}
.ptabs.lys a img{
    transition: .2s ease;
}
.ptabs.lys a.active {
    border-radius: 12px;
    border: 1px solid transparent;
}
.ptabs.lys a.active img{
    filter: brightness(0) invert(1);
}
.lys-solution{
    /* background-image: url(../images/lysaght/solution-left.png), url(../images/lysaght/solution-right.png);
    background-position: 0 50%, 100% 50%; */
    background-image: url(../images/lys-solution.png);
    background-position: 100% 100%;
    background-size: 30%;
    background-repeat: no-repeat;
}
.lys-solution.sol2{
    background-image: url(../images/lysaght/solution-bg.png);
}
.value-box > .icon{
    border-radius: 14px;
    background: linear-gradient(180deg, #00B9F2 0%, #2C4F94 100%);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
    width: 100px;
    height: 85px;
}
.value-box > .icon img{
    max-width: 80px;
    max-height: 70px;
}
.about.lys{
    background-image: none;
}
.brochures.lys {
    background-image: url(../images/sheet.png);
}
.case.lys{
    background-image: url(../images/lysaght/case-bg.png);
    background-position: 0 100%;
    background-size: 25%;
}
.awards.lys{
    background-image: url(../images/banner_bg.svg);
    background-size: contain;
    background-position: 100% 50%;
}
.award-slider2{
    margin: 0 -1rem;
}
.award-slider2 .slick-slide{
    padding: 0 1rem;
}
.award-slider2 .slick-dots{
    position: static;
}
.award-slider2 .slick-dots li{margin: 0;}
.award-slider2 .slick-dots li button:before{
    width: auto;
    height: auto;
    font-size: 1rem;
    color: #fff;
}
.check-single{
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(28px);
    position: relative;
}
/* .check-single::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */
.love{
    background: radial-gradient(217.84% 75% at 53.33% 75%, #DD150D 0%, rgba(223, 37, 30, 0.93) 68.5%, rgba(255, 255, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-slider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.banner-slider .slick-list, .banner-slider .slick-track, .banner-slider .slick-slide {
    height: 100%;
}
.banner-slider .slick-slide {
    object-fit: cover;
    object-position: center;
}
.main-form.label-lightblue label{
    color: #00B9F2;
}
.footer-form{
    background-image: url(../images/footer-form.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 20%;
}
.text-red{
    color: #E80714;
}
.sticky-right{
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: right bottom;
    margin-top: -130px;
}
.testimonial{
    background-image: url(../images/sheet.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 15%;
}
.why-single{
    background-color: #5D1E79;
    background-image: url(../images/lysaght/why-bg.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.why-single.green{
    background-color: #7DB139;
    background-image: url(../images/lysaght/why-bg2.png);
}
.grad-text{
    background: linear-gradient(90deg, #5D1E79, #770D62, #8B0051);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sol-sec{
    background-image: url(../images/lysaght/sol-bg.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 15%;
}
.award-wrap{
    background: linear-gradient(90deg, #5D1E79 0%, #770D62 60%, #8B0051 100%);
}
/*=============================Lysaght New End*/












/*===================  Responsive  ===================*/
/*===================  Responsive  ===================*/
@media(min-width:768px){
    .navigation{
        border-right:  1px solid #000;
    }
}
@media(min-width:992px){
    .main-form.banner-form{
        width: 500px;
        max-width: 70%;
    }
    .checkpoint-wrap{
        background-image: url(../images/lysaght/checkpoint-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .menu-link{margin-left: 2rem;font-size: 1.25rem;}
    .ptabs a{font-size: 1.125rem;}
}
@media(max-width:1199px){
    .main-banner, .about, .case, .awards, .brochures{
        background-image: none !important;
    }
    .sec-title,.sec-title.md{font-size: 2rem;}
    .subtitle{font-size: 1.25rem;}
    .desc.md{font-size: 1.125rem;}
}
@media(min-width:768px) and (max-width:991px){
    body{margin-top: 71px;}
    .menu-link{font-size: .875rem;margin-left: 1rem;}
    .menu-link.special{padding: .5rem 1rem;font-size: .875rem;}
    .ptabs a{font-size: 1rem;padding: .5rem 1rem;}
    .tbsl{width: 130px;}
}
@media(max-width:767px){
    .banner-slider .slick-slide {
        object-fit: cover;
        object-position: center;
        height: 145vw;
    }
    .main-banner-lys{
        background-color: #5d1e79;
        background-image: none;
    }
    .menu-link{font-size: 1rem; display: block;width: max-content;color: #fff;margin-left:auto; margin-right: auto;margin-top: 1rem;margin-bottom: 1rem;}
    .menu-link:first-child{margin-left: auto;}
    .menu-link.special{font-size: .875rem;padding: .75rem 1.5rem;}
    .ptabs a,.subtitle,.desc.md,.desc.sm{font-size: 1rem;}
    .subtitle{font-weight: 500;}
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        display: none;
        z-index: 10;
    }
    .nav-trigger{
        position: relative;
        z-index: 11;
        font-size: 1.25rem;
    }
    .navigation .nav-inner{
        width: 100%;
        height: 100%;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-banner-lys .btitle{font-size: 2rem;}
    .lys-solution,.footer-form{background-image: none;}
    .testimonial{
        background-image: none;
    }
}
